@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;700&display=swap');

/* this is to fix a problem in NYPL Design System setting global svg styles */
svg {
  width: initial !important;
}
